<section class="card">
  <a>
    <header>{{name}}</header>

    <div class="card-body">
      <img src="https://spoonacular.com/cdn/ingredients_100x100/{{product_image}}" alt="{{description}}" />
      <p>FREE OF: {{allergen_name}}</p>
      <div class="form-group">
        <button class="btn btn-primary del-btn" type="click" id='{{id}}'>DELETE</button>
      </div>
    </div>
  </a>
</section>