<section class="card">
  <a href="/product/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="{{product_image}}" alt="{{description}}" />
      <p>Free of: {{allergen}}</p>
    </div>
  </a>
</section>